.product-card {
    width: 16rem;
    height: 27rem;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-card .card-body {
    height: 12rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensures padding is included in the height */
}

.card-body .text-content {
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines before truncating */
    -webkit-box-orient: vertical;
    height: 100%;
}

.card {
    overflow: hidden;
    position: relative; 
}

.card img {
    width: 100%; 
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.1);
}
