body {
    background-color: #e7e7e7 !important;
    border-radius: 5px;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}

/* Product Container Styles */
.product {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.product .ProductCard {
    flex: 1 1 calc(25% - 16px); /* Adjusted for 4 cards per row */
    box-sizing: border-box;
    margin-bottom: 16px; /* Space between cards */
}

/* Product Card Styles */
.product-card {
    width: 16rem;
    height: 27rem;
    overflow: hidden;
    position: relative;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

/* Image Hover Effect */
.product-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    display: block;
}

.product-card img:hover {
    transform: scalex(1.1); /* Scale effect only on the image */
}

/* Additional Styles */
.center {
    text-align: -webkit-center;
}
