body {
    background-color: #e7e7e7 !important;
}


.slick-prev:before, .slick-next:before {
    color: black !important;
}
 body{
    border-radius: 5px;
}

.center {
    text-align: -webkit-center;
}