body{
    background-color: #860101 !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
    width: 0;
    height: 0;
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 0% 0%;
}

.carousel-indicators .active {
    display:none;
}

.w-100 {
    width: 100% !important;
    height: 500px;
}

.map iframe{
    border: 2px solid;
    height:600px ;
    width: 100%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
     display: none !important; 
}
.container{
    /* background-color: #e7e7e7; */
}

